[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
google-auth = "*"
requests = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python3 -m flask run"
clearport = "kill $(lsof -t -i:5000)"
lint = "pipenv run black ."