[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pipenv-setup = {extras = ["black"], version = "*"}

[requires]
python_version = "3.9"

[scripts]
start = "python3 app.py"
